<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">

  <!-- Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <title>Document</title>
</head>
<body style="background-color: #E6E6DE ">
 <style>
  @media print {
    body * {
      visibility: hidden !important;
    }
    .print-container, .print-container * {
      visibility: visible !important;
    }
    .print-container {
      position: absolute !important;
      /*Adjust depending on the size to align it to the center*/

      left: 3vh !important;
      right: 3vh !important;
      top: -60vh !important;
/*      left: 6vh !important;
      top: -45vh !important;*/

    }
  }
</style>

</head>

<body style="background-color:#E6E6DE">

  <title>Shrinkage Report</title>
  {{> navbarInventory}}
  <!-- End of navbar -->

  <div class="p-3" style="background-color: #E6E6DE">
    <div class="card">
      <div class="card-body rounded shadow" style="background-color: #CC985A">
        <h3 class="text-light mb-2">Shrinkage</h3>

        <div class="d-flex justify-content-between">
          <div class="col">

            <div class="row">
              <label  style="width: 60px" class="form-label mt-2 text-light">Date</label>
              <div class="col-sm-2">
                <div class="input-group date" id="startDate">
                  <input type="text" id="startDateValue" class="form-control">
                  <span class="input-group-append">
                    <span id="startDateButton" class="input-group-text bg-white d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>

              <label  style="width: 45px" class="form-label mt-2 text-light">To</label>
              <div class="col-sm-2">
                <div class="input-group date" id="endDate">
                  <input type="text"  id="endDateValue" class="form-control">
                  <span class="input-group-append">
                    <span class="input-group-text bg-white d-block">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>

              <div class="col">
                <button type="button" class="text-light btn btn-success m-1" style="height: 34px; margin-left: 10px" id="orderHistoryDate"><i class="fa fa-search"></i> Search dates</button>
              </div>

                 <div class="col text-end">
                <a href="/inventory/shrinkage" type="button" class="text-light btn btn-success"><i class="fa-solid fa-circle-plus"></i> Input Shrinkage</a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- BODY -->
    <div class="d-flex m-2 flex-row justify-content-between">
      <div id="asOf" class="p-2 mt-1">As of November 21, 2021</div>
      <div class="p-2 "><button class="btn btn-secondary" style="background-color: #7CA6A6" onclick="window.print();"><i class="fas fa-file-download"></i> Download</button></div>
    </div>

    <div class="col-md-12">


      <div class="card ">
        <div class="card-body overflow-auto  border rounded shadow-lg bg-light">
          <div class="table-responsive rounded print-container ">
            <table class="table overflow-auto table-hover table-hover table-bordered table-striped ">
              <div id="reportTitle" class="text-center my-3 " >
                <h4>Shrinkage Summary Report</h4>
                <h5 id="reportDate">November 1-31, 2021</h5>
                <h6 id="rows" class="p-2 mt-1 text-end">Row/s: {{shrinkage.length}}</h6>
              </div>
              <thead>
                <tr class="text-light align-top" style="background-color: #7CA6A6">
                  <th class="text-center col-2">Date</th>
                  <th class="text-start col-2">Name</th>
                  <th class="text-center col-1">Quantity Per Stock</th>
                  <th class="text-center col-1">Quantity</th>
                  <th class="text-center col-2">Reason</th>
                  <th class="text-center col-3">Remarks</th>

                </tr>
              </thead>
              <tbody id="shrinkageTable">
                {{#each shrinkage}}
                <tr>
                  <td class="text-center">{{date}}</td>
                  <td class="text-start">{{ingredient.ingredientName}}</td>
                  <td class="text-end">{{ingredient.quantityPerStock}} {{ingredient.uom.abbrev}}</td>
                  <td class="text-end">{{lossQuantity}} {{ingredient.uom.abbrev}}</td>
                  <td class="text-center">{{reason}}</td>
                  <td class="text-start">{{remarks}}</td>

                </tr>
                {{/each}}
              </tbody>
            </table>

<h6 class="text-center">**END OF REPORT**</h6>
          </div>


        </div>

      </div>
    </div>
  </div>

<script>
  $(document).ready(function () {
    // Updates the date today in the html
    options = { year: "numeric", month: "long", day: "numeric" };
    let today = new Date();
    let todayDate = today.toLocaleDateString("en-US", options);
    let asOf = $("#asOf").text("As of " + todayDate);
    $("#reportDate").text(todayDate);


    // Initializess the startdate picker so it can be fuinctional
    $("#startDate").datepicker();
    $("#endDate").datepicker();

    // Removes the red border after clicking the date
    $("#startDateButton").click(() => {
      $("#startDateValue").css("border", "");
    });
    $("#endDate").click(() => {
      $("#endDateValue").css("border", "");
    });

    $(".link").click(function () {
      window.location = $(this).data("href");
    });

    // When click the search date button
    $("#orderHistoryDate").click(function () {
      const startDate = $("#startDateValue").val();
      const endDate = $("#endDateValue").val();
      // Checks if the dates inputted are valid
      if (
        startDate == null ||
        startDate == "" ||
        endDate == null ||
        endDate == ""
      ) {
        if (startDate == null || startDate == "") {
          $("#startDateValue").css("border", "3px solid #B00000");
          alert("Input a starting date!");
        } else if (endDate == null || endDate == "") {
          $("#endDateValue").css("border", "3px solid #B00000");
          alert("Input an ending date!");
        }
      } else {
        // Converts the dates inputted to Date object because the date fields in the database models are date objects
        let convertedStartDate = new Date(startDate);
        let convertedEndDate = new Date(endDate);

        if (convertedStartDate > convertedEndDate) {
          $("#startDateValue").css("border", "3px solid #B00000");
          $("#endDateValue").css("border", "3px solid #B00000");
          alert("Starting date can't be higher than ending date!");
        } else {
          // valid dates
          $("#startDateValue").css("border", "");
          $("#endDateValue").css("border", "");
          // See in routes
          // Passes the valid dates inputted
          $.get(
            "/getShrinkageDates",
            { startDate: convertedStartDate, endDate: convertedEndDate },
            (shrinkage) => {

              alert(shrinkage.length);
              // After getting the result, update the HTML dates, and table
              options = { year: "numeric", month: "long", day: "numeric" };
              let startDateFiltered = convertedStartDate.toLocaleDateString(
                "en-US",
                options
              );
              let endDateFiltered = convertedEndDate.toLocaleDateString(
                "en-US",
                options
              );
              $("#reportDate").text(
                `${startDateFiltered} - ${endDateFiltered}`
              );
              $("#rows").text(`Row/s ${shrinkage.length}`);
              // Remove the table rows to only put the filtered data
              $("#shrinkageTable").empty();
              //let total = 0;
              // Loop to create the rows
              let length = shrinkage.length;

              for (let i = 0; i < length; i++) {
                const ingredientName = shrinkage[i].ingredient.ingredientName;
                const abbrev = shrinkage[i].ingredient.uom.abbrev;
                const quantityPerStock = shrinkage[i].ingredient.quantityPerStock;
                const lossQuantity = shrinkage[i].lossQuantity;
                const date = shrinkage[i].date;
                const reason = shrinkage[i].reason;
                const remarks = shrinkage[i].remarks;
                // total += parseFloat(resultTotal);

                let sortedDate = `<tr ">
                                <td class="text-center">` +
                  date +
                  `</td>
                  <td class="text-start"> ` +
                  ingredientName +
                  `</td>
                                <td class="text-end">` +
                  quantityPerStock + ` ` + abbrev +
                  `</td>
                   <td class="text-end"> ` +
                  lossQuantity + ` ` + abbrev +
                  `</td>
                                <td class="text-center"> ` +
                  reason +
                  `</td>
                   <td class="text-start"> ` +
                  remarks +
                  `</td>
                              </tr>`;
                $("#shrinkageTable").append(sortedDate);

                // Makes the link clickable
                $(".link").click(function () {
                  window.location = $(this).data("href");
                });
              }

              //$("#view-order-history-total").text("₱ " + total.toFixed(2));
              // Removes the inputted dates
              $("#startDateValue").val(null);
              $("#endDateValue").val(null);
            }
          );
        }
      }
    });
  });
</script>



</body>

</html>
