<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>

{{> navbarManager}}

<body style="background-color: #E6E6DE">
    <div class="p-3">
        <div class="card-body rounded shadow-lg" style="background-color: #CC985A">
            <div class="card-body rounded text-white row">
                <span class="col">
                   <h5>Edit Menu Item</h5>
               </span>
           </div>
       </div>
       <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card shadow-lg">
                <div
                class="card-body rounded mb-3"
                style="height: 67vh"
                >
                <button
                id="doneEditingMenuItem"
                class="btn rounded text-center"
                type="button"
                style="background-color: #DD610C"
                >
                <i class="fa-regular fa-circle-check"></i> Done Editing Menu Item Information
            </button>
            <br><br>
            <h2 >Menu Item Name:</h2>

            <input id="editedName" placeholder="{{{menuItem.menuItemName}}}">
            
            <input id="oldMenuItemName" type="hidden" value ="{{{menuItem.menuItemName}}}">
            <input id="id" type="hidden"  value ="{{{menuItem._id}}}">
            <input id="oldPrice" type="hidden"  value="{{{menuItem.price}}}">
            <input id="oldStatus" type="hidden"  value="{{{menuItem.status}}}">
            <br>
            <hr class="my-3" style="color: black" />
            <div class="row">
                <div class="col">
                    <h3 >Price:</h3>
                    <input id="editedPrice" type="number" min=0 placeholder="{{{menuItem.price}}}">
                </div>
            </div>
            <hr />
            <div class="row">
                <span class="col">
                    <span
                    class="d-flex justify-content-between"
                    >
                    <h4 class="status">Status:</h4>
                    <select
                    id="editedStatus"
                    class="form-select"
                    name="status"
                    style="width: 100px"
                    >
                    <option selected>
                        {{menuItem.status}}
                    </option>
                    <option value="Active">
                        Active
                    </option>
                    <option value="Inactive">
                        Inactive
                    </option>
                </select>
            </span>
        </span>

        <div
        class="delete-menu-item"
        style="margin-top: 150px"
        ></div>
    </div>
</div>
</div>
</div>

<div class="col-md-8 mt-3">
    <div class="card shadow-lg">
        <div
        class="card-body overflow-auto rounded"
        style="height: 70vh"
        >
        <div>
            <h2>Recipe</h2>
            <form class="col">
                <div class="d-flex mb-3">
                    <select
                    id="ingredient"
                    class="form-select"
                    name="ingredient"
                    required
                    style="width: 150px"
                    >
                    <option selected>Ingredient</option>
                    {{#each ingredient}}
                    <option
                    value="{{{ingredientName}}}"
                    >
                    {{ingredientName}}
                </option>
                {{/each}}
            </select>
<!-- Button trigger modal 
            <button type="button" class="btn btn-warning col-2 ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-circle-plus"></i>
                Add Ingredient
            </button>

             Modal 
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            ...
                            <section>
                                <div class="card position-absolute top-10 start-50 translate-middle" style="width: 100vh">
                                    <div style="background-color:#F8F5F1;">
                                        <form action="/inventory/addIngredient" method="POST" class="m-4 pb-5">
                                            <header class="pb-3">
                                                <h3>Add Ingredient</h3>
                                            </header>

                                            <section>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text col-4 bg-info" id="basic-addon3">Ingredient Name</span
                                                    >
                                                    <input 
                                                    type="text"
                                                    class="form-control"
                                                    id="purchased-ingredient-name"
                                                    aria-describedby="basic-addon3"
                                                    name="name"
                                                    />
                                                </div>


                                                <div class="input-group mb-3">
                                                  <span
                                                  class="input-group-text col-4 bg-info"
                                                  id="basic-addon3"
                                                  >Unit Of Measurement</span
                                                  >
                                                  <select
                                                  class="form-select"
                                                  name="uom"
                                                  >
                                                  <option selected>Choose...</option>
                                                  {{#each uom}}
                                                  <option value="{{{abbrev}}}">{{abbrev}}</option>
                                                  {{/each}}
                                              </select>

                                          </div>

                                          <div class="input-group mb-3">
                                              <span
                                              class="input-group-text col-4 bg-info"
                                              id="basic-addon3"
                                              >Reorder Point</span
                                              >
                                              <input
                                              type="number"
                                              min="0"
                                              class="form-control"
                                              id="purchased-quantity-per-stock"
                                              aria-describedby="basic-addon3"
                                              name="reorderPoint"
                                              />
                                          </div>

                                          <div class="float-end">
                                             <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">Cancel</button>  
                                             <button type="submit" class="d-inline float-end btn btn-m bg-info">
                                                Save
                                            </button>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </section>



                </div>

            </div>
        </div>
    </div> -->
    <input
    type="number"
    class="mx-3 form-control"
    style="width: 80px"
    min="0"
    name="qty"
    id="qty"
    placeholder="Qty"
    />

    <select
    id="unit"
    class="form-select"
    name="unit"
    required
    style="width: 90px"
    >
    <option selected>Unit</option>
    {{#each uom}}
    <option value="{{{abbrev}}}">
        {{fullName}}
    </option>
    {{/each}}
</select>
<!-- <a class="text-dark btn btn-info rounded ms-3 float-end " style="text-decoration: none" href="/getAddUOMManager">Add Uom</a> -->

<button
class="btn mb-2 ms-3 btn-success rounded float-end"
type="button"
id="addIngredient"
>
<i
class="fa-regular fa-square-plus"
></i>
Add Ingredient
</button>
</div>
</form>
</div>
<div class="table-responsive rounded">
    <table class="table overflow-auto table-hover table-hover table-bordered">
        <thead>
            <tr class=" text-light" style="background-color: #7CA6A6">
                <th class="text-center">
                    Ingredient Name
                </th>
                <th class="text-center">
                    Quantity
                </th>
                <th class="text-center">UOM</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody id="ingredientsTable">
            {{#each menuItemIngredient}}
            <tr id="row{{{@index}}}">
                <td>
                    {{ingredient.ingredientName}}
                </td>
                <td class="text-end">
                    {{quantity}}
                </td>
                <td class="text-center">
                    {{uom.abbrev}}
                </td>
                <td class="text-center"><button class="btn btn-danger btn_remove mb-2 remove" name='remove' id="row{{{@index}}}">X</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>
<button
class="btn my-2 ms-5 rounded text-white float-end shadow-lg"
type="button"
id="doneAdding"
style="background-color: #243b31"
>
<i class="fa-regular fa-check"></i>
Done Editing Menu Item
</button>
</div>
</div>
</div>

<script>
    $(document).ready(() => {
        var list = [];


        var listIngredient = [];
        var listUnit = [];
        var listQuantity = [];
        var index = 0;
        $("#addIngredient").click(() => {
            const ingredient = $("#ingredient").val();
            const quantity = $("#qty").val();
            const unit = $("#unit").val();
            
            if (
                ingredient == "Ingredient" ||
                quantity == "" ||
                unit == "Unit"
                )
                alert(
                    "Please input the appropriate input in all fields!"
                    );
            else {
                let ingredientInfo =  `<tr id="row`+index+`">
                <td>`+ingredient+`</td>
                <td class="text-end">`+quantity+`</td>
                <td class="text-center">`+unit+`</td>
                <td class="text-center"><button class="btn btn-danger btn_remove mb-2 remove" name='remove' id="` +
                index +
                `">X</button></td>
                </tr>`;


                $("#ingredientsTable").append(ingredientInfo);

                $("#ingredient").prop("selectedIndex", 0);
                $("#unit").prop("selectedIndex", 0);
                $("#qty").val("");
                //store it in array 
                listIngredient.push(ingredient);
                listQuantity.push(quantity);
                listUnit.push(unit);
                index++;
            }

        });

        $(document).on("click", ".remove", function () {
          const button_id = $(this).attr("id");
          $(`#row` + button_id + ``).remove();
          let i = button_id;
          listIngredient.splice(i, 1);
          listUnit.splice(i, 1);
          listQuantity.splice(i, 1);
          index--;
      });

        $("#doneAdding").click( () =>  {
            const oldMenuItemName = $("#oldMenuItemName").val();
            const id = $("#id").val();
           
            if (listIngredient.length === 0)
                alert('Add ingredients first!');
            else {
                $.post("/addIngredientsMenu", {
                    id: id,
                    oldMenuItemName: oldMenuItemName,
                    listIngredient: listIngredient,
                    listQuantity: listQuantity,
                    listUnit: listUnit
                }, result => {
                    alert(result.menuItemName);
                    listIngredient = [];
                    listQuantity = [];
                    listUnit = [];
                    alert('Ingredients are added to the Menu Item!');
                    window.location.replace(result.url);
                });


            }

        });

        $("#doneEditingMenuItem").click( () =>  {
            const oldMenuItemName = $("#oldMenuItemName").val();
            const oldStatus = $("#oldStatus").val();
            const oldPrice = $("#oldPrice").val();
            const editedName = $("#editedName").val();
            const editedStatus = $("#editedStatus").val();
            const editedPrice = $("#editedPrice").val();
            const id = $("#id").val();
            let name = "";
            let price = 0;
            let status = "";
            if (editedName.trim() === "" && editedStatus === oldStatus && editedPrice.trim() === "") {
                alert("Input different name, price, and status!");
            }
            else if (oldMenuItemName === editedName && oldStatus === editedStatus && oldPrice === editedPrice)
                alert("Input different name, price, and status!");
            else if (editedName.trim() === "" || editedPrice.trim() === "") 
                alert("Input the missing fields (even if the same) to continue!");      
            
            /*else if (oldMenuItemName === editedName) {
                if (editedPrice.trim() === "" && editedStatus === oldStatus)
                    alert("Input price or a different status!");
                else {
                    name = oldMenuItemName;
                    price = editedPrice;
                    status = editedStatus;
                }     
            }*/
            /*else if (oldStatus === editedStatus ) {
                if (editedName.trim() === "" && editedPrice.trim() === "")
                    alert("Input price, and status!");
                else {
                    price = editedPrice;
                    name = editedName;
                }     
            }*/
            /*else if (oldPrice === editedPrice) {
                if (editedName.trim() === "" && editedStatus === oldStatus)
                    alert("Input name or input a different status!");
                else {
                    price = oldPrice;
                    status = editedStatus;
                    name = editedName;
                }     
            }*/
            else {
                name = editedName;
                price = editedPrice;
                status = editedStatus;
                $.post("/editMenuItem", {
                    id: id,
                    name: name,
                    price: price,
                    status: status,
                }, result => {
                    alert(result.menuItemName);
                    alert('Menu Item Edited!');
                    window.location.replace(result.url);
                });

            }

        });


    });
</script>
</body>



</html>